<button data-toggle="modal"
        data-target="#gridSystemModal"
        class="btn btn-success btn-circle btn-xl"
        id="new-party">
  <span class="mega-octicon octicon-plus"></span>
</button>
