<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2><%= @party.name %></h2>
    <%= link_to 'Create New Playlist', "/parties/#{@party.id}/new_playlist", class:"btn btn-success btn-lg btn-block" %>
  </div>
</div>
