<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2><%= @party.name %></h2>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Import Playlist
    </button>
    <%= link_to 'Create A New Spotify Playlist', "/parties/#{@party.id}/new_playlist", class:"btn btn-success btn-lg", role:"button", method:'patch' %>
  </div>
  <!-- Tracks -->
  <div class="row">
    <div class="col-xs-6">
      <h2>Staged</h2>
    </div>
    <div class="col-xs-6">
      <h2>Active</h2>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Your Playlists</h4>
      </div>
      <div class="modal-body">
      <% if spotify_user.playlists %>
        <ul class="list-group">
          <% spotify_user.playlists.each do |playlist| %>
            <%= link_to playlist.name, "/parties/#{@party.id}/playlists/import/#{playlist.id}", class:"list-group-item list-group-item-action" %>
          <% end %>
        </ul>
      <% end %>
      </div>
  </div>
</div>


