<% if @parties.empty? %>
  <h1 class="text-xs-center">Your Parties</h1>
  <hr>
  <div class="m-x-auto" id="button-header">
    <%= render 'parties/new_party_button' %>
  </div>
<% else %>
<div class="row center">
  <div class="col-md-8 offset-md-2">
    <div class="row header">
      <div class="col-md-8 offset-md-2" id="profile-title">
        <h1 class="inline">Your Parties</h1>
      </div>
      <!-- New Party button -->
      <div class="col-md-2">
        <%= render 'parties/new_party_button' %>
      </div>
    </div>
    <!-- Party list -->
    <ul class="list-group">
      <% @parties.each do |party| %>
        <%= link_to party.name,
                    party_path(party),
                    class:"list-group-item list-group-item-action" %>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<!-- new party modal form -->
<div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Create A Party</h4>
      </div>
      <%= render 'parties/new_party_form' %>
    </div>
  </div>
</div>
